# Basics

In [8]:
name='seby'
name[1]

'e'

In [2]:
name[-1]

'y'

In [3]:
name[0:3:2]

'sb'

In [4]:
revname=name[::-1]

In [5]:
revname

'ybes'

In [6]:
name.replace('e','i')

'siby'

In [9]:
print("my {1} {2} {2}".format('is','name',name))

my name seby seby

In [20]:
mylist=['seby',22,62.1]

In [21]:
len(mylist[0])

4

In [22]:
mylist=mylist[::-1]

In [23]:
mylist

[62.1, 22, 'seby']

In [24]:
mylist.append("Male")

In [25]:
mylist

[62.1, 22, 'seby', 'Male']

In [26]:
mylist=mylist+["Btech",7.1]

In [27]:
mylist

[62.1, 22, 'seby', 'Male', 'Btech', 7.1]

In [29]:
mylist[2]='sj'
mylist

[62.1, 22, 'sj', 'Male', 'Btech', 7.1]

In [21]:
mylist.clear()

In [22]:
mylist

[]

In [23]:
dict={"seby":1,"rayan":2,"suhu":3}

In [26]:
dict.values()

dict_values([1, 2, 3])

In [28]:
dict['shine']=4

In [29]:
dict

{'seby': 1, 'rayan': 2, 'suhu': 3, 'shine': 4}

In [31]:
a=(1,2,3)

In [32]:
list(a)

[1, 2, 3]

In [2]:
a=True

In [3]:
type(a)

bool

In [10]:
%%writefile my.txt
hello there
my name is
seby

Writing my.txt

In [16]:
with open('my.txt') as file:
    content=file.readlines()

In [17]:
content

['hello there\n', 'my name is\n', 'seby\n']

# Conditional

In [1]:
name ="seby"

In [8]:
for i in range(0,len(name),1):
    print(i,end=' ')

0 1 2 3

In [11]:
mylist=[(1,2,3),(4,5,6),(7,8,9)]
for (a,b,c) in mylist:
    print(f"{a} , {b} and {c}")

1 , 2 and 3
4 , 5 and 6
7 , 8 and 9

In [13]:
for i in mylist:
    for a in i:
        print(a,end="")
    print("\n")

123

456

789

In [14]:
mylist1=[1,2,3]
mylist2=[4,5,6]
for a,b in zip(mylist1,mylist2):
    print(f'{a} AND {b}')

1 AND 4
2 AND 5
3 AND 6

In [5]:
mylist1=[1,2,3]
mylist2=[4,5,6]
for a in zip(mylist1,mylist2):
    print(a)

(1, 4)
(2, 5)
(3, 6)

In [9]:
for index,item in enumerate(mylist1):
    print(f'we have item {item} at index {index}')

we have item 1 at index 0
we have item 2 at index 1
we have item 3 at index 2

# Other Functions

In [17]:
name="seby"
mylist=[letter for letter in name]
mylist

['s', 'e', 'b', 'y']

In [18]:
list(name)

['s', 'e', 'b', 'y']

In [25]:
mylist1.extend(mylist2)
mylist1

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [27]:
mylist3=[x for x in mylist1 if x%2==0]
mylist3

[2, 4, 6, 4, 6]

# Methods & Functions

In [3]:
def pig_latin(word):
    first_letter=word[0]
    if first_letter in 'aeiou':
        return word+'ay'
    else:
        return word[1:]+first_letter+'ay'
pig_latin('apple')

'appleay'

In [11]:
mywords=['apple','word','cats','owls']
list(map(pig_latin,mywords))

['appleay', 'ordway', 'atscay', 'owlsay']

In [12]:
mynums=[1,2,3,4,5,6]
list(filter(lambda num: num%2==0,mynums))

[2, 4, 6]